[Desktop Entry]
Name=Example Flutter Snap
Comment=Example Flutter application for Snapcraft
Icon=${SNAP}/meta/gui/icon.png
Exec=snapcraft-docs-flutter-app %U
Terminal=false
Type=Application
Categories=Games;
Keywords=Games;
StartupNotify=false
